body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black; /* Black background */
  text-align: left;
  padding: 20px;
  color: #4b0082; /* Dark purple text color */
}

.content {
  text-align: left;
  padding: 20px;
}

.image-left {
  float: left; /* Align the image to the left */
  margin-right: 20px; /* Add some space to the right of the image */
}

.image-left img {
  max-width: 400px; /* Set the maximum width of the image */
  max-height: 400px; /* Set the maximum height of the image */
}

h1 {
  color: white;
  margin: 0;
}

p {
  color: white;
  font-size: 16px;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
